<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    {% load static %}
</head>
<body>
<h1>My collection</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis hic in mollitia nesciunt perferendis quasi quisquam reiciendis, repellat sunt? Ab adipisci aliquam consectetur cumque distinctio doloremque facere fugiat ratione.</p>
<img src="{% static 'assets/1.jpeg' %}" alt="">
<img src="{% static 'assets/2.jpeg' %}" alt="">
<img src="{% static 'assets/3.jpeg' %}" alt="">
<img src="{% static 'assets/4.jpeg' %}" alt="">
<img src="{% static 'assets/6.jpeg' %}" alt="">
<img src="{% static 'assets/7.jpeg' %}" alt="">
</body>
</html>