<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static %}
</head>
<body>
<h1>MY GALLERY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, dolore ipsa iure nihil nisi quis veniam. Aliquid consequuntur cumque distinctio dolor, dolorum incidunt iure iusto magni nemo saepe sequi tempore.</span><span>Adipisci animi architecto assumenda aut beatae, doloremque dolores eaque esse ex, fugiat fugit incidunt iusto magnam minima provident quas quasi quibusdam reiciendis rem repellendus repudiandae rerum velit vitae voluptas voluptate?</span></p>
<img src="{% static 'assets/4.jpeg' %}" alt="">
</body>
</html>